* {
	margin: 0;
	padding: 0
}
html {
	overflow: scroll;
	background: #ececec;
}
body {
	position: relative;
	background: #fff;
	color: #747474;
	font: 0.813em/1.5em "Arial", sans-serif;
}
body.boxed {
	background-color: #ededed;
}
dt {
	font-weight: 700;
}
img {
	border: none;
	vertical-align: middle;
}
ul[class] {
	list-style: none;
}
a {
	color: #3f3f3f;
	-moz-transition: color 0.5s;
	-webkit-transition: color 0.5s;
	-o-transition: color 0.5s;
	transition: color 0.5s;
	text-decoration: none;
}
a:hover {
	color: #ff8400;
	text-decoration: none;
}
a * {
	cursor: pointer;
}
textarea, input, select, option, optgroup, button {
	font-family: inherit;
	font-size: inherit;
	vertical-align: middle;
}
textarea {
	min-width: 92%;
	max-width: 97%;
	min-height: 150px;
	padding: 5px 1%;
}
button, [type="radio"], [type="checkbox"], [type="submit"], [type="button"], [type="reset"], label, select {
cursor: pointer;
vertical-align: middle;
}
input, select, textarea {
	outline: none;
}
select option {
	padding: 0 10px;
}
fieldset {
	overflow: hidden;
	border: none;
}
legend {
	display: none;
}
option {
	padding: 0 5px;
}
table {
	border-collapse: collapse;
}
button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"]>input[type="button"]::-moz-focus-inner {
padding: 0;
border: none;
}
h1 {
	margin: 1em 0 0.5em;
	color: #3f3f3f;
	font: 400 2.308em "Signika", sans-serif;
}
h1:first-child {
	margin: 1em 0 0.3em;
	font-size: 2.615em;
}
h2 {
	margin: 1em 0 0.5em;
	color: #3f3f3f;
	font: 300 2.154em "Signika", sans-serif;
}
h2 span {
	display: inline-block;
	margin-bottom: -1px;
	padding: 8px 0;
	border-bottom: 2px solid #ff8400;
}
h3 {
	margin: 1.5em 0 1em;
	color: #3f3f3f;
	font: 300 1.846em "Signika", sans-serif;
}
h3 span {
	display: inline-block;
	margin-bottom: -1px;
	padding: 8px 0;
	border-bottom: 2px solid #ff8400;
}
h4 {
	margin: 1.5em 0 1em;
	color: #3f3f3f;
	font: 300 1.538em "Signika", sans-serif;
}
h5 {
	margin: 1.5em 0 1em;
	color: #3f3f3f;
	font: 300 1.385em "Signika", sans-serif;
}
h6 {
	margin: 1.5em 0 1em;
	color: #3f3f3f;
	font: 300 1.231em "Signika", sans-serif;
}
p {
	margin: 1em 0;
}
ul, ol {
	margin: 1em 0;
	padding: 0;
}
li {
	margin: 0.5em 0 0.5em 2em;
}
.alignleft {
	float: left;
	margin: 0 20px 20px 0;
}
.alignright {
	float: right;
	margin: 0 20px 20px 0;
}
label {
	display: block;
	color: #3f3f3f;
	font-weight: bold;
}
input, textarea, select {
	padding: 10px 3%;
	border: 1px solid #ccc;
	border-radius: 2px;
	background: #fff;
}
input.error, textarea.error, select.error {
	border-color: #e65842;
	background-color: #ffe6dc;
	box-shadow: 0 0 2px 1px #ffece6;
	color: #ef4437;
}
select {
	padding: 8px 3%;
	color: #999;
}
a.button, button {
	display: inline-block;
	height: 32px;
	padding: 0 20px;
	border: none;
	border: 1px solid #de6200;
	border-radius: 3px;
	background: #ff9e00;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff9e00), color-stop(100%, #ff6a00));
	background: -webkit-linear-gradient(top, #ff9e00 0%, #ff6a00 100%);
	background: -o-linear-gradient(top, #ff9e00 0%, #ff6a00 100%);
	background: -ms-linear-gradient(top, #ff9e00 0%, #ff6a00 100%);
	background: linear-gradient(to bottom, #ff9e00 0%, #ff6a00 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9e00', endColorstr='#ff6a00', GradientType=0 );
	color: #fff;
	font: bold 1em/32px "Arial", sans-serif;
	text-shadow: 0 -1px 0 #da5c00;
	text-transform: uppercase;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
a.button:hover, button:hover {
	background: #ff6a00;
	background: -moz-linear-gradient(top, #ff6a00 0%, #ff9e00 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff6a00), color-stop(100%, #ff9e00));
	background: -webkit-linear-gradient(top, #ff6a00 0%, #ff9e00 100%);
	background: -o-linear-gradient(top, #ff6a00 0%, #ff9e00 100%);
	background: -ms-linear-gradient(top, #ff6a00 0%, #ff9e00 100%);
	background: linear-gradient(to bottom, #ff6a00 0%, #ff9e00 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6a00', endColorstr='#ff9e00', GradientType=0 );
}
blockquote {
	margin: 1.5em 0 1.5em 1em;
	padding: 1px 0 1px 1.5em;
	border-left: 2px solid #ff8400;
	font-style: italic;
}
.clear {
	clear: both;
	height: 0;
	overflow: hidden;
}
/* Main layout
------------------------------------------ */
.root {
	overflow: hidden;
}
/*
body.boxed .root {max-width: 1000px; margin: 0 auto; background: #fff; box-shadow: 0 0 3px rgba(0,0,0,0.3);}
@media (max-width: 980px) {
	.root {margin: 0; padding: 0 20px;}
	header, footer, .breadcrumb {margin: 0 -20px;}
	footer, .breadcrumb {padding-left: 20px; padding-right: 20px;}
}
body.boxed {background: #ececec;}
*/


body.boxed .root {
	max-width: 1000px;
	margin: 0 auto;
	background: #fff;
}
 @media (max-width: 980px) {
 .root {
margin: 0;
padding: 0 20px;
}
 .boxed .root .content {
padding: 0;
}
 header, footer, .breadcrumb {
margin: 0 -20px;
}
 footer, .breadcrumb {
padding-left: 20px;
padding-right: 20px;
}
}
@media (max-width: 400px) {
 .root {
margin: 0;
padding: 0 10px;
}
 footer {
padding-left: 10px;
padding-right: 10px;
}
}
body.boxed.shadow .root {
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
body.boxed.f01 {
	background: url("images/frames/frame01.png") center 0 repeat-y, url("images/patterns/pattern05.png") left top repeat;
	background-color: #eee;
}
body.boxed.f02 {
	background: url("images/frames/frame02.png") center 0 repeat-y, url("images/patterns/pattern05.png") left top repeat;
	background-color: #bbb;
}
body.boxed.f03 {
	background: url("images/frames/frame03.png") center 0 repeat-y, url("images/patterns/pattern05.png") left top repeat;
	background-color: #ddd;
}
body.boxed.f04 {
	background: url("images/frames/frame04-1.png") center 0 repeat-y, url("images/patterns/pattern05.png") left top repeat;
	background-color: #d6d6d6;
}
body.boxed.f05 {
	background: url("images/frames/frame04-2.png") center 0 repeat-y, url("images/patterns/pattern05.png") left top repeat;
	background-color: #d6d6d6;
}
body.boxed.f06 {
	background: url("images/frames/frame05.png") center 0 repeat-y, url("images/patterns/pattern05.png") left top repeat;
	background-color: #d6d6d6;
}
body.boxed.f07 {
	background: url("images/frames/frame06.png") center 0 repeat-y, url("images/patterns/pattern05.png") left top repeat;
	background-color: #d6d6d6;
}
body.boxed.f08 {
	background: url("images/frames/frame07.png") center 0 repeat-y, url("images/patterns/pattern05.png") left top repeat;
	background-color: #d6d6d6;
}
body.boxed.f09 {
	background: url("images/frames/frame08.png") center 0 repeat-y, url("images/patterns/pattern05.png") left top repeat;
	background-color: #eee;
}
header {
	position: relative;
	z-index: 50;
	background: #fff;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}
header>section.top {
	position: relative;
	z-index: 20;
	height: 30px;
	margin: 0;
	box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.05);
	background: #747474;
	color: #fff;
	font-size: 0.846em;
	text-align: right;
}
header>section.top>div {
	max-width: 940px;
	margin: 0 auto;
}
header>section.top p {
	float: left;
	margin: 0;
	padding: 0;
	line-height: 30px;
}
header>section.top nav {
	display: inline-block;
}
header>section.top nav>ul {
	height: 30px;
	margin: 0;
	list-style: none;
	text-align: left;
}
header>section.top nav>ul>li {
	float: left;
	position: relative;
	margin: 0;
}
header>section.top nav>ul>li>a {
	display: inline-block;
	height: 30px;
	padding: 0 10px;
	color: #fff;
	line-height: 30px;
}
header>section.top nav>ul>li:hover>a {
	background-color: #3f3f3f;
	color: #fff;
}
header>section.top nav>ul>li.current-menu-item>a, header>section.top nav>ul>li.current-menu-item:hover>a {
	color: #fff;
	background-color: #ff8400;
}

header>section.top nav>ul>ul {
	font-size: 1.182em;
	line-height: 1em;
}
header nav.utils a.cart {
	padding: 0 16px 0 30px;
	background: url("images/utils-cart.png") 8px 50% no-repeat;
}
header nav.utils a.login {
	padding: 0 16px 0 30px;
	background: url("images/utils-padlock.png") 8px 50% no-repeat;
}
header nav.utils a.lang {
	padding: 0 20px 0 16px;
	background: url("images/utils-down.png") 100% 50% no-repeat;
}
header nav.utils a:hover {
	background-color: #555;
}
header>section.main-header {
	position: relative;
	z-index: 0;
	max-width: 940px;
	margin: 0 auto;
}
.boxed header>section.main-header {
	padding: 0 30px;
}
header>section.main-header nav {
	float: right;
	clear: right;
	margin-top: 23px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}
 @media (max-width: 980px) {
 .root {
margin: 0;
padding: 0 20px;
}
 .boxed .root .content {
padding: 0;
}
 header, footer, .breadcrumb {
margin: 0 -20px;
}
 footer, .breadcrumb {
padding-left: 20px;
padding-right: 20px;
}
}
@media (max-width: 400px) {
 .root {
margin: 0;
padding: 0 10px;
}
 footer {
padding-left: 10px;
padding-right: 10px;
}
}
body.boxed.shadow .root {
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
body.boxed.f01 {
	background: url("images/frames/frame01.png") center 0 repeat-y, url("images/patterns/pattern05.png") left top repeat;
	background-color: #eee;
}
body.boxed.f02 {
	background: url("images/frames/frame02.png") center 0 repeat-y, url("images/patterns/pattern05.png") left top repeat;
	background-color: #bbb;
}
body.boxed.f03 {
	background: url("images/frames/frame03.png") center 0 repeat-y, url("images/patterns/pattern05.png") left top repeat;
	background-color: #ddd;
}
body.boxed.f04 {
	background: url("images/frames/frame04-1.png") center 0 repeat-y, url("images/patterns/pattern05.png") left top repeat;
	background-color: #d6d6d6;
}
body.boxed.f05 {
	background: url("images/frames/frame04-2.png") center 0 repeat-y, url("images/patterns/pattern05.png") left top repeat;
	background-color: #d6d6d6;
}
body.boxed.f06 {
	background: url("images/frames/frame05.png") center 0 repeat-y, url("images/patterns/pattern05.png") left top repeat;
	background-color: #d6d6d6;
}
body.boxed.f07 {
	background: url("images/frames/frame06.png") center 0 repeat-y, url("images/patterns/pattern05.png") left top repeat;
	background-color: #d6d6d6;
}
body.boxed.f08 {
	background: url("images/frames/frame07.png") center 0 repeat-y, url("images/patterns/pattern05.png") left top repeat;
	background-color: #d6d6d6;
}
body.boxed.f09 {
	background: url("images/frames/frame08.png") center 0 repeat-y, url("images/patterns/pattern05.png") left top repeat;
	background-color: #eee;
}
header {
	position: relative;
	z-index: 50;
	background: #fff;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}
header>section.top {
	position: relative;
	z-index: 20;
	height: 30px;
	margin: 0;
	box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.05);
	background: #747474;
	color: #fff;
	font-size: 0.846em;
	text-align: right;
}
header>section.top>div {
	max-width: 940px;
	margin: 0 auto;
}
header>section.top p {
	float: left;
	margin: 0;
	padding: 0;
	line-height: 30px;
}
header>section.top nav {
	display: inline-block;
}
header>section.top nav>ul {
	height: 30px;
	margin: 0;
	list-style: none;
	text-align: left;
}
header>section.top nav>ul>li {
	float: left;
	position: relative;
	margin: 0;
}
header>section.top nav>ul>li>a {
	display: inline-block;
	height: 30px;
	padding: 0 10px;
	color: #fff;
	line-height: 30px;
}
header>section.top nav>ul>li:hover>a {
	background-color: #3f3f3f;
	color: #fff;
}
header>section.top nav>ul>li.current-menu-item>a, header>section.top nav>ul>li.current-menu-item:hover>a {
	color: #fff;
	background-color: #ff8400;
}
header>section.top nav>ul>ul {
	font-size: 1.182em;
	line-height: 1em;
}
header nav.utils a.cart {
	padding: 0 16px 0 30px;
	background: url("images/utils-cart.png") 8px 50% no-repeat;
}
header nav.utils a.login {
	padding: 0 16px 0 30px;
	background: url("images/utils-padlock.png") 8px 50% no-repeat;
}
header nav.utils a.lang {
	padding: 0 20px 0 16px;
	background: url("images/utils-down.png") 100% 50% no-repeat;
}
header nav.utils a:hover {
	background-color: #555;
}
header>section.main-header {
	position: relative;
	z-index: 0;
	max-width: 940px;
	margin: 0 auto;
}
.boxed header>section.main-header {
	padding: 0 30px;
}
header>section.main-header nav {
	float: right;
	clear: right;
	margin-top: 23px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}
.grey {
	background:#424b4e!important;}
	
.boxed header>section.amain-header {
	padding: 0 30px;
}


nav.headermenu {
	margin: 17px -20px 0 0;
}
nav.headermenu ul {
	list-style: none;
	margin: 0;
	background:#424b4e;
}
nav.headermenu>ul {
	padding: 6px 0 13px;
}
nav.headermenu>ul>li {
	float: left;
	position: relative;
	height: 20px;
	margin: 0 -1px 13px 0;
}
nav.headermenu>ul>li:first-child {
	border: none;
}
nav.headermenu>ul>li>a {
	float: left;
	height: 20px;
	padding: 0 19px;
	border-left: 1px solid #535b5d;
	color: #ffffff;
	font: 300 1.231em/20px "Signika", sans-serif;
}
nav.headermenu>ul>li:hover {
	z-index: 30;
	height: 43px;
	margin: -10px -1px 0 0;
}
nav.headermenu>ul>li:hover>a {
	height: 40px;
	color: #ffb11d;
	line-height: 40px;
}
nav.headermenu>ul>li>a:active {
	color: #ff8400;
}
nav.headermenu>ul>li.current-menu-item>a {
	color: #ff8400;
}
.h1 nav.headermenu>ul>li.current-menu-item:hover {
	height: 20px;
	margin: 0 -1px 0 0;
	padding-bottom: 13px;
}
.h1 nav.headermenu>ul>li.current-menu-item:hover>a {
	height: 20px;
	padding: 0 19px;
	background: none;
	border-bottom: none;
	line-height: 20px;
}
nav.headermenu>ul>li>ul {
	font-size: 0.923em;
}
header nav>ul ul {
	display: none;
	position: absolute;
	left: 0;
	top: 100%;
	width: 150px;
	margin: 0;
	padding: 10px 0 10px;
	background: #fff;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
	font-weight: 400;
	font-family: "Arial", sans-serif;
}
header .top nav>ul>li>ul {
	width: 140px;
	font-size: 1.091em;
}
header .top nav>ul>li>ul ul {
	font-size: 1em;
}
header nav ul ul li {
	display: block;
	float: none;
	position: relative;
	margin: 0;
}
header nav ul ul li.parent>a {
	background: url("images/sm-arrow.png") 100% 50% no-repeat;
}
header nav ul ul li a {
	display: block;
	padding: 4px 15px 4px 14px;
	color: #ffffff;
}
header nav ul ul li a:hover, header nav ul ul li:hover>a {
	color: #424b4e;
}
header nav ul ul>li.current-menu-item>a {
	background-color: #f8a91c;
	color: #3f3f3f;
}
header nav ul ul ul {
	display: none;
	position: absolute;
	left: 100%;
	top: -10px;
	font-size: 1em;
}
header li:hover>ul {
	display: block;
}
header nav>ul>li.right>ul {
	left: auto;
	right: 0;
}
header nav>ul>li.right ul ul {
	left: auto;
	right: 100%;
}
header nav a {
	-moz-transition: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
header nav .select {
	display: none;
}
header p.title {
	float: left;
	margin: 13px 0;
	color: #999;
	font: 400 1.154em "Signika", sans-serif;
}
header p.title a {
	display: block;
	color: #3f3f3f;
	font-size: 2.267em;
	font-weight: 400;
}
header p.title a:hover {
	color: #3f3f3f;
}
header p.title img {
	vertical-align: middle;
}
header .searchform {
	float: right;
	margin-top: 18px;
}
header .searchform fieldset, aside .searchform fieldset {
	border: 1px solid #ccc;
	border-radius: 2px;
}
header .searchform input, aside .searchform input {
	margin: 0;
	padding: 3px 10px;
	border: none;
	box-shadow: none;
	background: #fff;
	font-size: 0.917em;
}
header .searchform input {
	color: #747474;
}
header .searchform button, aside .searchform button {
	width: 24px;
	height: 24px;
	padding: 0;
	border: none;
	background: #fff url("images/search.png") center center no-repeat;
	box-shadow: none;
	line-height: 24px;
}
header .top .searchform {
	display: inline-block;
	width: 220px;
	margin-top: 8px;
	font-size: 1.091em;
}
header .top .searchform fieldset {
	background: #fff;
}
header .top .searchform input {
	width: 170px;
}
.p07 {
	background-image: url("images/patterns/pattern07.png");
}